* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(33, 3, 66);
}
.nav-link {
  color: #fff;
}
.navbar-brand {
  color: #fff;
}
.nav-link:hover {
  color: #fff;
}
.navbar-brand:hover {
  color: #fff;
}
.navbar-collapse {
  border: #fff;
}
h3 {
  margin-top: 40px;
}
.bg {
  background-image: url("bg12.jpg");

  height: 650px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.line-1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 12vw;
  margin: 10vw 0vw 0vw 5vw;
  color: white;
}
.para {
  text-align: center;
  font-size: 3vh;
  margin: 1vw 0vw 0vw 5vw;
  color: white;
}

.btn-space {
  margin-right: 50px;
}
.btn {
  margin-left: 20px;
  margin-top: 40px;
}
.btn:hover {
  background-color: rgb(80, 106, 190);
}
.rect {
  height: 20vw;
  width: 100%;
  background-image: linear-gradient(180deg, #470981, #0621a7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  background-image: linear-gradient(180deg, #470981, #0621a7);
  color: white;
  border: none;
}
.card-title {
  margin-top: 2vw;
  font-size: 2vw;
}
.card-text {
  font-size: 1.5vw;
}
.img-2 {
  height: 40vw;
  width: auto;
}
.rect-2 {
  background-color: rgb(0, 5, 5);
  height: 40vw;
  display: flex;
  flex-direction: row;

  width: 100%;
}
.hard {
  font-family: "Bebas Neue", cursive;
  font-size: 5vw;
  color: rgb(255, 255, 255);
}
.para-1 {
  color: white;
  font-size: 1.3vw;
  margin-top: 5vw;
  margin-left: 2vw;
  font-style: italic;
}
.span {
  color: rgb(77, 1, 255);
}
.cardd {
  background-image: linear-gradient(
      90deg,
      rgba(196, 196, 196, 0.05) 0%,
      rgba(196, 196, 196, 0.05) 10%,
      rgba(245, 245, 245, 0.05) 10%,
      rgba(245, 245, 245, 0.05) 23%,
      rgba(72, 72, 72, 0.05) 23%,
      rgba(72, 72, 72, 0.05) 27%,
      rgba(231, 231, 231, 0.05) 27%,
      rgba(231, 231, 231, 0.05) 28%,
      rgba(192, 192, 192, 0.05) 28%,
      rgba(192, 192, 192, 0.05) 39%,
      rgba(105, 105, 105, 0.05) 39%,
      rgba(105, 105, 105, 0.05) 47%,
      rgba(216, 216, 216, 0.05) 47%,
      rgba(216, 216, 216, 0.05) 100%
    ),
    linear-gradient(
      90deg,
      rgba(98, 98, 98, 0.07) 0%,
      rgba(98, 98, 98, 0.07) 6%,
      rgba(13, 13, 13, 0.07) 6%,
      rgba(13, 13, 13, 0.07) 10%,
      rgba(31, 31, 31, 0.07) 10%,
      rgba(31, 31, 31, 0.07) 25%,
      rgba(2, 2, 2, 0.07) 25%,
      rgba(2, 2, 2, 0.07) 33%,
      rgba(170, 170, 170, 0.07) 33%,
      rgba(170, 170, 170, 0.07) 39%,
      rgba(203, 203, 203, 0.07) 39%,
      rgba(203, 203, 203, 0.07) 87%,
      rgba(254, 254, 254, 0.07) 87%,
      rgba(254, 254, 254, 0.07) 100%
    ),
    linear-gradient(
      90deg,
      rgba(180, 180, 180, 0.03) 0%,
      rgba(180, 180, 180, 0.03) 10%,
      rgba(178, 178, 178, 0.03) 10%,
      rgba(178, 178, 178, 0.03) 15%,
      rgba(22, 22, 22, 0.03) 15%,
      rgba(22, 22, 22, 0.03) 27%,
      rgba(149, 149, 149, 0.03) 27%,
      rgba(149, 149, 149, 0.03) 32%,
      rgba(85, 85, 85, 0.03) 32%,
      rgba(85, 85, 85, 0.03) 45%,
      rgba(100, 100, 100, 0.03) 45%,
      rgba(100, 100, 100, 0.03) 57%,
      rgba(228, 228, 228, 0.03) 57%,
      rgba(228, 228, 228, 0.03) 65%,
      rgba(178, 178, 178, 0.03) 65%,
      rgba(178, 178, 178, 0.03) 100%
    ),
    linear-gradient(
      90deg,
      rgba(239, 239, 239, 0.02) 0%,
      rgba(239, 239, 239, 0.02) 1%,
      rgba(192, 192, 192, 0.02) 1%,
      rgba(192, 192, 192, 0.02) 2%,
      rgba(151, 151, 151, 0.02) 2%,
      rgba(151, 151, 151, 0.02) 19%,
      rgba(62, 62, 62, 0.02) 19%,
      rgba(62, 62, 62, 0.02) 90%,
      rgba(143, 143, 143, 0.02) 90%,
      rgba(143, 143, 143, 0.02) 91%,
      rgba(137, 137, 137, 0.02) 91%,
      rgba(137, 137, 137, 0.02) 98%,
      rgba(216, 216, 216, 0.02) 98%,
      rgba(216, 216, 216, 0.02) 100%
    ),
    linear-gradient(
      90deg,
      rgba(91, 91, 91, 0.02) 0%,
      rgba(91, 91, 91, 0.02) 5%,
      rgba(56, 56, 56, 0.02) 5%,
      rgba(56, 56, 56, 0.02) 30%,
      rgba(79, 79, 79, 0.02) 30%,
      rgba(79, 79, 79, 0.02) 73%,
      rgba(81, 81, 81, 0.02) 73%,
      rgba(81, 81, 81, 0.02) 92%,
      rgba(68, 68, 68, 0.02) 92%,
      rgba(68, 68, 68, 0.02) 100%
    ),
    linear-gradient(
      90deg,
      rgba(60, 60, 60, 0.06) 0%,
      rgba(60, 60, 60, 0.06) 8%,
      rgba(21, 21, 21, 0.06) 8%,
      rgba(21, 21, 21, 0.06) 21%,
      rgba(127, 127, 127, 0.06) 21%,
      rgba(127, 127, 127, 0.06) 22%,
      rgba(250, 250, 250, 0.06) 22%,
      rgba(250, 250, 250, 0.06) 55%,
      rgba(119, 119, 119, 0.06) 55%,
      rgba(119, 119, 119, 0.06) 60%,
      rgba(120, 120, 120, 0.06) 60%,
      rgba(120, 120, 120, 0.06) 61%,
      rgba(222, 222, 222, 0.06) 61%,
      rgba(222, 222, 222, 0.06) 100%
    ),
    linear-gradient(
      90deg,
      rgba(64, 64, 64, 0.07) 0%,
      rgba(64, 64, 64, 0.07) 18%,
      rgba(57, 57, 57, 0.07) 18%,
      rgba(57, 57, 57, 0.07) 21%,
      rgba(125, 125, 125, 0.07) 21%,
      rgba(125, 125, 125, 0.07) 26%,
      rgba(252, 252, 252, 0.07) 26%,
      rgba(252, 252, 252, 0.07) 40%,
      rgba(64, 64, 64, 0.07) 40%,
      rgba(64, 64, 64, 0.07) 47%,
      rgba(21, 21, 21, 0.07) 47%,
      rgba(21, 21, 21, 0.07) 67%,
      rgba(119, 119, 119, 0.07) 67%,
      rgba(119, 119, 119, 0.07) 100%
    ),
    linear-gradient(
      90deg,
      rgb(17, 117, 250),
      rgb(248, 47, 141),
      rgb(121, 67, 171)
    );
  background-size: 100% 100%;
  height: 40vw;
  width: 100%;
  font-size: 1.5vw;

  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
}
.cardd-img-top {
  margin-top: 30px;
  margin-left: 20px;
  height: 20vw;
  width: 20vw;
}
.cardd-text {
  font-size: 1.5vw;
  margin-left: 20px;
}
.cardd-title {
  font-size: 2vw;
  margin-left: 20px;
}

footer {
  height: 150px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: rgb(52, 3, 71);
}

.copy {
  font-size: 1.5vw;
  height: 3vw;
  text-align: center;
  width: 100%;
  background-color: rgb(16, 141, 172);
}
.gap {
  color: white;
  opacity: 0.5;
}
.h-four {
  color: white;
  opacity: 0.8;
  font-size: 18px;
}
